{% extends 'theblog/base.html' %}

{% block content %}
{% load static %}
<h1>User Profile...</h1>

<div class="card mb-3" >
  <div class="row g-0">
    <div class="col-md-4">
        {% if page_user.profile_pic %}
      <img src="{{page_user.profile_pic.url}}" class="img-fluid rounded-start" alt="..." width="200" height="200">
        {% else %}
              <img src="{% static 'theblog/images/avatar_img.jpg' %}" class="img-fluid rounded-start" alt="..." width="200" height="200">
        {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
            {{page_user.user.first_name}}
            {{page_user.user.last_name}}
        </h5>
          <p class="small text-muted">
               <a href="{{page_user.fb_url}}">Facebook</a>
              | <a href="{{page_user.insta_url}}">Instagrm</a>
          </p>
        <p class="card-text">{{page_user.bio}}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}